*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

blockquote {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  unicode-bidi: isolate;
  margin-bottom: 2rem;
}

section {
  padding: 5em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.img {
  max-width: 100%;
  display: block;
}
.navbar {
  position: absolute;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  top: 12px;
  margin: auto;
  z-index: 50;
  text-align: center;
}

.split {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #c271ff;
  color: #fff;
}

.pros-section {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pros-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.hero {
  position: relative;
  text-align: center;
  /* padding: 15em 0; */
  padding: 8rem 0;
  color: #fff;
  background-image: url("./images/Object.png");
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}
.navigation {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navigation li a:hover {
  color: red;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  font-weight: bold;
}

.secondary-title {
  font-size: 4rem;
  font-size: clamp(1.5rem, calc(2vw + 1rem), 2rem);
  line-height: 1;
}

.sub-title {
  font-size: 4rem;
  font-size: clamp(1rem, calc(1vw + 1rem), 1.5rem);
  line-height: 1;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1.25em;
  background: #c271ff;
  border-radius: 1em;
  border-color: #c271ff;
  border-style: solid;
  width: fit-content;
  align-self: center;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.9;
}

.primary-text {
  color: #c271ff;
}

.tutorials {
  /* text-align: center; */
  /* padding: 15em 0; */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4rem;
}

.tutorials__item {
  width: 255px;
  /* text-align: center; */
}

.tutorials__item__creater_img {
  width: 40px;
  height: 40px;
}

.tutorials__title {
  width: 100%;
  text-align: centers;
}

.tutorials__item__rating {
  color: #c271ff;
  display: flex;
  justify-content: space-between;
}

.tutorials__item__rating__stars {
  display: flex;
  gap: 0.25em;
  flex-wrap: wrap;
  justify-content: center;
}

.tutorials__item__creater {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
}

.membership {
  text-align: center;
  padding: 8rem 0;
  color: #fff;
  background-color: #071629;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.tutorials h2 {
  margin: auto;
  text-align: center;
}

.membership {
  text-align: center;
  padding: 8rem 0;
  color: #fff;
  background-color: #071629;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 4rem; */
}

.membership__items {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.membership__item {
  width: 200px;
}

.membership__item__logo {
  display: block;
  color: #c271ff;
}

.faq {
  text-align: center;
  padding: 8rem 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.faq__items {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  gap: 3rem;
}

.faq__item {
  width: 50%;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 3rem;
}

.footer {
  text-align: center;
  /* padding: 8rem 0; */
  color: #fff;
  background-color: #071629;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
